<mat-toolbar color="primary" class="navigation">
  <div class="navigation--logo__landscape">
    <img src="./../../assets/spain.svg" alt="Logo" class="navigation--logo" />
  </div>
  <span>Facil Espanol</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
