<form #loginForm="ngForm" class="login-container" (ngSubmit)="loginHandler()">
  <mat-card class="login-card">
    <mat-card-header class="login-header">
      <div mat-card-avatar class="login-card-icon"></div>
      <mat-card-title>Sign In</mat-card-title>
    </mat-card-header>
    <mat-card-content class="login-card-content">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="username"
          name="username"
          #usernameRef="ngModel"
          required
          minlength="3"
        />
        <mat-error *ngIf="usernameRef.invalid && usernameRef.dirty">
          Min. 3 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          #passwordRef="ngModel"
          required
          minlength="3"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="passwordRef.invalid && passwordRef.dirty">
          Min. 3 characters
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="this.error">{{ this.error }}</mat-error>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!loginForm.form.valid"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</form>
